@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

body {
  background-image: url("components/images/palm.jpg") !important;
  background-repeat: no-repeat;
  background-size:cover;
  overflow:hidden;
  height: 100%;
  width: 100%;
  font-family: 'MontSerrat', sans-serif;
  overflow-y: scroll;
}
.firsth1, .secondh2{
  color: white;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
  height: 100%;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

